discord.py
aiohttp
praw
#asyncpraw
asyncpg
colour
#urbandict
Pillow
#googletrans
jishaku
numpy
python-dotenv
git+https://github.com/Gelbpunkt/aiowiki #wikipedia
git+https://github.com/Rapptz/discord-ext-menus #menus
